*.iml
.gradle
/local.properties
/.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
aars/build/.transforms
models/src/main/assets/sync
models/build
*.mbtiles
github.properties
map.properties
credentials.json
*.bak
*~
*.keystore
images
app/release/*